table.table1{
    background-color:rgb(91, 207, 243);
    border-color:rgb(103, 106, 240);
}
table.table2{
    background-color: rgb(91, 207, 243);
    border-color: rgb(103, 106,240);
}
table.table3{
    background-color: rgb(91, 207, 243);
    border-color: rgb(103,106,240);
}
body{
    background-color: rgb(213, 209, 223);
    border-color: rgb(103, 106, 240);
}