body{
    width:100%
    margin:0 auto;
}
div{
    border: 1px solid rgb(15, 15, 15);
    padding:5px 15px;
    width: ;
}
.header{
    border-radius: 10px 10px 0px 0px;
    margin-top:0px;
    width:auto;
    height:auto;
    padding: 30px;
    text-align: center;
}
.smth{
 display: inline-block;
 box-sizing:border-box;
 padding:10PX ;
 margin:0px;
 
}
.footer{
    text-align: center;
}