table.table1{
    background-color:rgb(43, 44, 44, 0.623);
    border-color:rgb(123, 123, 129);
    color:blanchedalmond
}
table.table2{
    background-color:rgb(43, 44, 44, 0.623);
    border-color: rgb(123, 123,129);
    color:blanchedalmond
}
table.table3{
    background-color:rgb(43, 44, 44, 0.623);
    border-color: rgb(123, 123, 129);
    color:blanchedalmond
    
}
body{
    background:url(../images/blackwall.png);
    border-color: rgb(45, 47, 219);
    background-color: rgb(123, 123, 129);
    
}
td.smth2{
    color:blanchedalmond
    
}
