body{
    width:100%
    margin:auto;
}
div{
    padding:5px 15px;
    width: ;
}
header{
    border-radius: 10px 10px 0px 0px;
    margin:2px;
    width:auto;
    height:auto;
    padding: 30px;
    text-align: center;
    border: 1px solid rgb(15, 15, 15);
    background-color: rgb(218, 218, 218);
}
.navigation{
    border: 1px solid rgb(15, 15, 15);
    background-color: rgb(218, 218, 218);
    margin:2px;
}
 .vmeste{
    display: inline-block;
    margin: 1px;
    
 }
 aside{
    
    padding:10PX 10px 10px 10px;
    border: 1px solid rgb(15, 15, 15);
    background-color: rgb(218, 218, 218);
    display: inline-block;
    
 }
content{
    display: inline-block;
    padding:10PX;
    border: 1px solid rgb(15, 15, 15);
    background-color: rgb(218, 218, 218);
    width: 45%;
    

}
footer{
    border: 1px solid rgb(15, 15, 15);
    background-color: rgb(218, 218, 218);
    padding:10PX;
}
